

.card{
    box-shadow: 2px 5px 5px grey;
    border-radius: 8px; 

}



.card:hover{
    background-color: gray;
}


.img-fluid{
    height: 232px;
    width: 236px;
}

button{
    padding: 7px 50px ;
    align-items: center;
    background-color: rgb(4, 22, 223);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 8px;
    font-size: larger;

}
button:active{
    background-color: rgb(0, 0, 0)
    
}